[Unit]
Description=Controller-Box Overlay Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/controller-box --overlay-service
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=graphical-session.target
